<!DOCTYPE html>
<html>
    <%- include('partials/header') -%>
    <body>

        <h1> Pixabay Search (Express Version) </h1>
        
        <form action="/results" method="GET">
            
            Keyword: <input type="text" name="keyword">
            Orientation: 
            <select id="orientation" name="orientation">
              <option value="horizontal">Horizontal</option>
              <option value="vertical">Vertical</option>
            </select>
            <br><br>
            <button> Search! </button> 
        </form> <br><br>
        
        <%let index1 = Math.floor(Math.random() * 15);%>
        <%let index2 = Math.floor(Math.random() * 15);%>
        <%let index3 = Math.floor(Math.random() * 15);%>
        <%let index4 = Math.floor(Math.random() * 15);%>

        <span><%=images.hits[index1].likes%></span><br>
        <img src='<%= images.hits[index1].largeImageURL %>' width='250'>
        <br><br>
        
        <span><%=images.hits[index2].likes%></span><br>
        <img src='<%= images.hits[index2].largeImageURL %>' width='250'>
        <br><br>
        
        <span><%=images.hits[index3].likes%></span><br>
        <img src='<%= images.hits[index3].largeImageURL %>' width='250'>
        <br><br>
        
        <span><%=images.hits[index4].likes%></span><br>
        <img src='<%= images.hits[index4].largeImageURL %>' width='250'>
        <br><br>

    </body>
</html>